<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.cs.disable-library-validation</key>
	<true/>
	<key>com.apple.security.get-task-allow</key>
	<true/>
	<key>com.apple.security.temporary-exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/XiangXiangInput/</string>
		<string>/Library/Application Support/personal-english-lexicon/</string>
		<string>/Library/Preferences/com.xiangxiang.inputmethod.XiangXiangInput.plist</string>
	</array>
	<key>com.apple.security.temporary-exception.mach-register.global-name</key>
	<string>com.xiangxiang.inputmethod.XiangXiangInput_Connection</string>
	<key>com.apple.security.temporary-exception.shared-preference.read-only</key>
	<string>com.xiangxiang.inputmethod.XiangXiangInput</string>
</dict>
</plist>
